{{#article}}
    <article>
        <h1>{{name}}</h1>
<<<<<<< HEAD
=======
        <h3>{{author_name}}</h3>
>>>>>>> 186903998_As_a_user_i_can_see_a_single_yoga_article
        <p>{{published}}</p>
        <p><img src="/images/{{image}}"></p>
        {{{body}}}
    </article>
{{/article}}