{{#article}}
    <article>
        <h1>{{name}}</h1>
        <h3><a href="/author/{{author_id}}">{{author_name}}</a></h3>
        <p>{{published}}</p>
        <p><img src="/images/{{image}}"></p>
        {{{body}}}
    </article>
{{/article}}