<h2>Here are articles written by {{author}}:</h2>


<div class="article-list">
    {{#if articles}}
    {{#articles}}
        <article>
            <a href="/article/{{slug}}">
                <img src="/images/{{image}}"/>
            </a>
            <h2><a href="/article/{{slug}}">{{name}}</a></h2>
        </article>
    {{/articles}}
    {{/if}}
</div>